@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "رد دسترسی";
}

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h4 class="alert alert-danger">اجازه دسترسی به این قسمت را ندارید</h4>
        </div>
    </div>
</div>