@page
@model ServiceHost.Pages.TermsModel
@{
    ViewData["Title"] = "شرایط و قوانین";

}

<!-- Page content-->
<div class="container pt-5 pb-lg-4 my-5">
    <!-- Breadcrumb-->
    <nav class="mb-3 pb-md-1 pt-md-3" aria-label="Breadcrumb">
        <ol class="breadcrumb breadcrumb-light m-0">
            <li class="breadcrumb-item"><a asp-page="./Index">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">شرایط و قوانین</li>
        </ol>
    </nav>
    <!-- Page title-->
    <h1 class="h4 font-vazir text-light pb-3">شرایط و قوانین</h1>
    <div class="row mt-4 pt-3">
        <!-- Post content-->
        <div class="col-12">
            <!-- Post meta-->
            <div class="d-flex flex-wrap border-bottom border-light pb-3 mb-4">
            </div>
            <p class="fs-lg font-vazir text-light mb-4 text-center h4">شرایط و قوانین استفاده از وب سایت نمونه - example.com</p>
            <div class="text-light">
                لطفا قوانین و شرایط استفاده ذکر شده در این متن را پیش از شروع به استفاده از سایت با دقت مطالعه فرمایید.
                استفاده از وب‌سایت، عضویت و ایجاد اشتراک در وب‌سایت و یا انتخاب گزینه‌ی موافقت با شرایط استفاده به این معناست که شما قوانین و مقررات استفاده و خط مشی‌های مربوط به حریم خصوصی در نمونه - example.com را متوجه شده و پذیرفته‌اید. در صورت عدم موافقت با این شرایط حق استفاده از وب‌سایت  و سایر خدمات نمونه - example.com از شما سلب می‌شود.
                
                <p>این سایت مطابق با قوانین جمهوری اسلامی ایران اداره می‌شود و تبادل هرگونه محتوای مجرمانه، خلاف شئونات اخلاقی، عرفی، حقوق بشر و مقررات جمهوری اسلامی ایران منجر به لغو دسترسی و مسدود شدن حساب کاربری فرد خاطی می‌گردد.</p>
                <p class="h3 mt-3 mb-4 text-light">تعریف و تبیین واژگان :</p>
                <p>منظور از "وب‌سایت ما" ، "سایت"، "ما" و "نمونه" وب‌سایت example.com می‌باشد
                    کاربر و کاربران سایت هر شخصی است که به هر شکلی از خدمات این وب سایت استفاده نماید. حتی بازدید از صفحات  سایت نیز شامل وارد استفاده از وب‌سایت می‌باشد.
                    اکانت یا حساب کاربری داشبورد شخصی استفاده هر کاربر از خدمات حرفه‌ای وب‌سایت است.
                    خریدار، کارفرما یا سفارش دهنده فردی است که با عضویت در سایت درخواست انجام کار یا برون‌سپاری پروژه‌ای را دارد.
                    ادیتور، مجری یا پیمانکار شخصی است که ضمن اعلام آمادگی جهت ارایه مهارت‌های حرفه‌ای خود اقدام به ارسال پیشنهاد و انجام پروژه‌های حرفه‌ای به قصد کسب در آمد می‌کند. کسب درآمد و دریافت دستمزد منوط به رضایت کامل کارفرما و حسن انجام کار می‌باشد.</p>
                <p class="h3 mt-3 mb-4 text-light">چکیده شرایط :</p>
                <p>
                    تمامی پروژه‌ها و سفارشات باید از طریق example.com ثبت و تحویل گردند. خروج از این شرایط تحت هر شرایطی بدون کسب موافقت رسمی سایت منجر به لغو پشتیبانی سایت شده و می‌تواند مسدود شدن حساب کاربری خریدار و فروشنده خاطی را به دنبال داشته باشد.
                </p>
                <p>
                    در هنگام برون‌سپاری پروژه مبلغ کل آن پروژه به توسط روش‌های پرداخت در نظر گرفته شده در قالب پرداخت امن به سایت پرداخت می‌گردد. این وجه در خلال اجرای کار مگر در صورتی که ادیتور اقدام به لغو پروژه نماید قابل بازگشت به کارفرما نیست و تا انتهای پروژه به عنوان ضمانت حسن انجام کار توسط ادیتور نزد نمونه می‌ماند. کارفرما تا ۵ روز بعد از اتمام پروژه می‌تواند نسبت به تایید پروژه یا درخواست اصلاح یا اعمال تغییرات اقدام کند. در صورت عدم انجام فعالیت از سمت کارفرما پس از ۵ روز پروژه به صورت اتوماتیک تایید شده و وجه انجام پروژه پس از کسر درصدهای کارمزد سایت به حساب کاربری ادیتور انتقال داده می‌شود.
                    در صورت بروز اختلاف بین ادیتور و کارفرما و عدم حل اختلاف بین طرفین سایت به عنوان مرجع حل اختلاف بین طرفین عمل می‌کند. در صورت ارجاع اختلاف به نمونه دو طرف ملزم به قبول نتیجه داوری نهایی سایت می‌باشند. در صورت برنده شدن کارفرما در حل اختلاف کل مبلغ پروژه به کارفرما بازگردانده می‌شود.
                </p>
                <p>
                    شرایط ثبت نام :
                    ثبت نام در نمونه برای تمامی افراد به شرط موافقت با قوانین و مقررات سایت و قوانین جمهوری اسلامی ایران امکان پذیر است.
                    حداقل سن ثبت نام در نمونه ۱۸ سال است.
                    هر کاربر مجاز به ساخت یک حساب کاربری به عنوان ادیتور و یک حساب کاربری به عنوان کارفرما می‌باشد. ایجاد بیش از این تعداد اکانت تخلف محسوب شده و می‌تواند منجر به عواقبی مانند مسدود شدن تمام حساب‌های کاربری کاربر خاطی گردد.
                    ثبت نام در سایت به قصد سو استفاده ، کپی رایت غیر قانونی ، انجام فعالیت‌های مجرمانه و خارج از عرف و شیونات مجاز نیست و با این گونه فعالیت‌های متخلفانه برخورد خواهد شد.
                </p>
                <p>
                    <ul>
                        <li>نمونه حق بررسی، خواندن، تغییر و حذف تمام محتواهای بارگذاری شده روی سایت نمونه را به منظور جلوگیری از تقلب، فحاشی ، رفتار غیر حرفه ای، فعالیت غیر مجاز و سایر موارد را دارد.</li>
                        <li>نمونه حق برخورد با خاطیان و متخلفین را از طریق مسدودی موقت ، دایمی ، ارجاع به مراجع ذیصلاح قانونی و سایر روشها را برای خود محفوظ میدارد.</li>
                        <li>هرگونه برخورد غیر حرفه ای، تقلب، فحاشی و تلاش برای بیرون بردن پروژه ها و اخلال در قوانین سایت تخلف محسوب شده و نمونه حق برخورد را برای خود محفوظ میدارد.</li>
                        <li>کاربران باید به قوانین و مقررات سایت در قسمت های مختلف سایت توجه کرده و ابهامات را از طریق ایمیل و پشتیبانی آنلاین سایت برطرف کنند. عدم اطلاع از قوانین به معنای مستثنی شدن از قوانین نمی باشد.</li>
                        <li>ثبت نام در سایت به منزله پذیرش قوانین و مقررات سایت می باشد و نا آگاهی از قوانین سایت به منزله تبرئه و مستثنی شدن از قوانین نمی باشد.</li>
                    </ul>
                </p>
                <p>
                    هرگونه پرداخت و نقل و انتقال مالی خارج از سایت نمونه و خارج از درگاه پرداخت نمونه با نام فروشگاه "نمونه" و شیوه های رسمی و ارائه شده در سایت نمونه مورد تایید نمونه نیست و ادیسکل هیچگونه مسئولیتی در قبال مراودات مالی و سایر مراودات بین افراد در خارج از سایت را بر عهده نمی‌گیرد. ضمنا نمونه حق جبران خسارت و حقوق ضایع شده خود را در صورت احراز تخلف در مراجع قانونی و قضایی برای خود محفوظ می‌دارد.
                    همچنین در صورت شکایت و اقدامات حقوقی بر علیه نمونه، این مجموعه حق دفاع و اعاده حیثیت و جبران هزینه های دادرسی و سایر هزینه های مرتبط را برای خود محفوظ میدارد.
                </p>
                <p class="h3 mt-3 mb-4 text-light">شرایط درآمدزایی :</p>
                <p>
                    نمونه به عنوان تسهیل کننده خدمات درصدی از مبلغ هر پروژه را به عنوان کارمزد خود لحاظ می‌کند. این درصد از طریق صفحات اطلاع رسانی سایت و به شیوه‌های تعیین شده توسط سایت به اطلاع کاربران درگیر با این تغییرات خواهد رسید.
                </p>
                <p>
                    نمونه حق تغییر کمیسیون ، شرایط پلن درامدزایی و تغییر قوانین و تعرفه‌های استفاده از وب‌سایت را برای خود محفوظ میدارد. تمامی تغییرات از طریق صفحه قوانین و مقررات یا سایر صفحات سایت ظرف مدت حداقل ۲ هفته قبل از اعمال به کاربران سایت اطلاع داده خواهد شد.
                </p>
                <p>
                    ادیتورها ملزم به رعایت اصول حرفه‌ای و برخورد مناسب با کارفرمایان سایت هستند. هرگونه برخورد غیر حرفه‌ای با کارفرمایان ، درخواست انجام پروژه یا مراودات مالی خارج از چهارچوب و قوانین وب‌سایت ، عدم رعایت ادب در مذاکرات کاری و سو استفاده از سیستم رتبه بندی و سایر امکانات سایت به منزله لطمه زدن و خسران به مجموعه نمونه تلقی شده و نمونه ضمن برخورد با خاطیان حق برخورد قانونی با فرد یا افراد خاطی را برای خود محفوظ میدارد.
                </p>
                <p>
                    هر کاربر به طور کامل مالک و مسئول تمام محتوایی است که در سایت نمونه قرار می‌دهد. این محتوا می‌تواند شامل محتوای متنی ، تصویر ،ویدیو ، محتوای صوتی، اطلاعات رزومه، پروفایل و سایر موارد باشد.
                    بدین وسیله شما به عنوان کاربر اجازه استفاده از محتوای بارگذاری شده به نمونه برای استفاده‌های تبلیغاتی و آموزشی را می‌دهید.
                    اطلاعات و محتوای کاربران نباید بر خلاف شیونات اخلاقی و حرفه‌ای باشد ، حریم خصوصی دیگر کاربران را نقض کند و در مغایرت با قوانین و مقررات کلی سایت باشد. نمونه حق حذف محتوای نامناسب و اقدامات مقتضی قانونی را برای خود محفوظ میدارد.

                </p>
                <p>
                    نمونه صحت اطلاعات ارایه شده توسط کاربران را تائید نمی‌کند و نمونه مسئولیتی در قبال هر گونه اطلاعاتی که کاربران در این سایت منتشر می‌کنند، ندارد.
                </p>
                <p>
                    تمامی خدمات ارائه شده در نمونه بدون ضمانت و خدمات پس از فروش عرضه می‌شود.
                </p>
                <p>
                    نمونه خود را از هرگونه تقاضا و اعاده ضرر و زیان در صورت اختلاف بین کارفرما و ادیتور مبرا میداند. مسئولیت هرگونه ضرر و زیان به عهده طرفین یک پروژه ( کارفرما و ادیتور ) می‌باشد.
                    ادیتور هیچ گونه تقاضا و درخواستی برای دریافت وجه از کاربران خارج از راههای رسمی ارائه شده در وب‌سایت نخواهد داشت.
                </p>
            </div>

          
        </div>
        
    </div>
</div>