<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title> ادیتور</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />

    <meta property="og:title" content="Edixle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:description" content="edixle" />
    <meta property="og:site_name" content="edixle" />

    <link rel="apple-touch-icon" sizes="144x144" href="~/icons/edixle_logo_200px.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icons/edixle_logo_200px.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/icons/edixle_logo_200px.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/icons/edixle_logo_200px.png">
    <link rel="shortcut icon" href="~/icons/edixle_logo_200px.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="~/EditorPageTheme/assets/icons/fi-fonts.css" />

    <link rel="stylesheet" type="text/css" href="~/EditorPageTheme/assets/styles/vendors/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/EditorPageTheme/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="~/EditorPageTheme/assets/styles/rtl.css" />
</head>
<body class="bg-triangles">
    <main class="main">
        <div class="container gutter-top gutter-bottom">
           
            @RenderBody()
        </div>
    </main>
    <div class="back-to-top"></div>
    
    <script src="~/EditorPageTheme/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/EditorPageTheme/assets/js/plugins.min.js"></script>
    <script src="~/EditorPageTheme/assets/js/common.js"></script>
</body>
</html>